@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model maryedesigns.ViewModel.DashboardViewModel

<h1 class = "display-4 fw-normal">User Dashboard</h1>
<a class = "btn btn-primary" asp-area="" asp-controller="Project" asp-action="Create">Create Projects</a>
<a class = "btn btn-primary" asp-area="" asp-controller="Experience" asp-action="Create">Create Experiences</a>
<a class = "btn btn-primary" asp-area="" asp-controller="Skill" asp-action="Create">Create Skills</a>

<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="display-4 fw-normal">Projects</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model.Projects)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/img/apple-touch-icon.png" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"> <input type="hidden" asp-for="@item.Id" /></p>
                            <p class="card-text">@item.Name</p>
                            <p class="card-text">@item.Description</p>
                            <p class="card-text">@item.ProjectLink</p>
                            <p class="card-text">@item.Year</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class = "btn btn-success" asp-controller="Project" asp-action="Details" asp-route-id="@item.Id"
                                       classclass="btn btn-sm btn-outline-secondary">View</a>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a asp-controller="Project" asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Update</a>
                                        <a asp-controller="Project" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }
                                </div>
                                @*<small class="text-muted">@item.RaceCategory</small>*@
                            </div>
                        </div>
                    </div>

                </div>
            }

        </div>

        <h2 class="display-4 fw-normal">Experiences</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model.Experiences)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/img/favicon.png" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"> <input type="hidden" asp-for="@item.Id" /></p>
                            <p class="card-text">@item.Name</p>
                            <p class="card-text">@item.Location</p>
                            <p class="card-text">@item.Role</p>
                            <p class="card-text">@item.Year</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class = "btn btn-success" asp-controller="Project" asp-action="Details" asp-route-id="@item.Id"
                                       classclass="btn btn-sm btn-outline-secondary">View</a>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a asp-controller="Experience" asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Update</a>
                                        <a asp-controller="Experience" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }
                                </div>
                                @*<small class="text-muted">@item.RaceCategory</small>*@
                            </div>
                        </div>
                    </div>

                </div>
            }

        </div>
        <h2 class="display-4 fw-normal">Skills</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model.Skills)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/img/testimonials-bg.jpg" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"> <input type="hidden" asp-for="@item.Id" /></p>
                            <p class="card-text">@item.Name</p>
                            <p class="card-text">@item.Year</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Skill" asp-action="" asp-route-id="@item.Id"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a asp-controller="Skill" asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a asp-controller="Skill" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }
                                </div>
                                @*<small class="text-muted">@item.ClubCategory</small>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/vendor/purecounter/purecounter.js"  asp-append-version="true"></script>
<script src="~/vendor/aos/aos.js"  asp-append-version="true"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"  asp-append-version="true"></script>
<script src="~/vendor/glightbox/js/glightbox.min.js"  asp-append-version="true"></script>
<script src="~/vendor/isotope-layout/isotope.pkgd.min.js"  asp-append-version="true"></script>
<script src="~/vendor/swiper/swiper-bundle.min.js"  asp-append-version="true"></script>
<script src="~/vendor/waypoints/noframework.waypoints.js"  asp-append-version="true"></script>
<script src="~/vendor/php-email-form/validate.js"  asp-append-version="true"></script>