<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
   
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~vendor/css/style.css" rel="stylesheet">
    <link href="/vendor/scss/style.css" rel="stylesheet">
    
   
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href='//fonts.googleapis.com/css?family=Text+Me+One' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        
        <h1 class="logo"><a asp-action="Index" asp-controller="Home"><span style="color:cornflowerblue"><i class="fa-brands fa-nfc-symbol"></i></span>&nbsp;Marye<span>Designs</span></a></h1>
       
        <nav id="navbar" class="navbar">
            <ul>
                
                <li><a class="nav-link scrollto active" asp-action="Index" asp-controller="Home">Home</a></li>
                @*<li><a class="nav-link scrollto" asp-action="All" asp-controller="Project">Project</a></li>*@
                <li><a class="nav-link scrollto" asp-action="Contact" asp-controller="Home">Contact </a></li>
                @*<li><a class="nav-link scrollto" asp-action="Dashboard" asp-controller="Admin"> Admin </a></li>*@
                @*<partial name="_LoginPartialCustom"/>*@
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
            <partial name="_LoginPartialCustom"/>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<div class="background">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                @*   @Html.Partial("_Form")*@
                <main role="main" class="pb-3">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["Success"]
                        </div>
                    }
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["Error"]
                        </div>
                    }
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
</div>
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Marye<span>Designs</span></h3>
            <p>
              94 Okere Ugborikoko Road<br>
              Warri, Delta<br>
              Nigeria <br><br>
              <strong>Phone:</strong> +234 70850 22259<br>
              <strong>Email:</strong>mary.erhieyovwe4christ@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a asp-action="Index" asp-controller="Home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a asp-action="Contact" asp-controller="Home">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>My Social Networks</h4>
            <p>You can visit our social page by clicking the icon below</p>
            <div class="social-links mt-3">
              <a href="https://www.twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instragram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.google.com" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="https://www.linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Maryedesigns</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        Designed by <a>Erhieyovwe Mary</a>
      </div>
    </div>
    </footer><!-- End Footer -->
    <!-- Template Main JS File -->
    @*<script src="assets/js/main.js"></script>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <script src="~/js/site.js" asp-append-version="true"></script>*@
     <script src="~/js/main.js"></script>

<!-- Vendor JS Files -->

<script src="~/vendor/purecounter/purecounter.js"  asp-append-version="true"></script>
<script src="~/vendor/aos/aos.js"  asp-append-version="true"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"  asp-append-version="true"></script>
<script src="~/vendor/glightbox/js/glightbox.min.js"  asp-append-version="true"></script>
<script src="~/vendor/isotope-layout/isotope.pkgd.min.js"  asp-append-version="true"></script>
<script src="~/vendor/swiper/swiper-bundle.min.js"  asp-append-version="true"></script>
<script src="~/vendor/waypoints/noframework.waypoints.js"  asp-append-version="true"></script>
<script src="~/vendor/php-email-form/validate.js"  asp-append-version="true"></script>

@*<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>*@

<script>
    const typedTextSpan = document.querySelector(".typed-text");
    const cursorSpan = document.querySelector(".cursor");
    const textArray = ["Software Engineer", "Graphics Designer", "Freelancer", "Innovative Thinker "];
    const typingDelay = 200;
    const erasingDelay = 10;
    const newTextDelay = 100; // Delay between current and next text
    let textArrayIndex = 0;
    let charIndex = 0;
    function type() {
        if (charIndex < textArray[textArrayIndex].length) {
            if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
            typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
            charIndex++;
            setTimeout(type, typingDelay);
        } else {
            cursorSpan.classList.remove("typing");
            setTimeout(erase, newTextDelay);
        }
    }
    function erase() {
        if (charIndex > 0) {
            // add class 'typing' if there's none
            if (!cursorSpan.classList.contains("typing")) {
                cursorSpan.classList.add("typing");
            }
            typedTextSpan.textContent = textArray[textArrayIndex].substring(0, 0);
            charIndex--;
            setTimeout(erase, erasingDelay);
        } else {
            cursorSpan.classList.remove("typing");
            textArrayIndex++;
            if (textArrayIndex >= textArray.length) textArrayIndex = 0;
            setTimeout(type, typingDelay);
        }
    }
    document.addEventListener("DOMContentLoaded", function () { // On DOM Load initiate the effect
        if (textArray.length) setTimeout(type, newTextDelay + 250);
    });
</script>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
